tensorflow~=2.16.1
keras
scikit-learn~=1.5.1
opencv-python~=4.5.5.64
h5py~=3.11.0
matplotlib~=3.7.2
Pillow
requests~=2.31.0
psutil
imageio
insightface~=0.7.3
streamlit_webrtc
streamlit~=1.30.0
numpy~=1.25.1
six~=1.16.0
facenet~=1.0.5
scipy~=1.11.1
pandas~=2.0.3
prettytable~=3.10.2
easydict~=1.13
scikit-image~=0.24.0
onnx~=1.16.1
onnxruntime~=1.18.1
imutils~=0.5.4
av~=12.3.0